body{
/*    background-color: black;*/
}


.nav-style{
    color: black;
    background-color: gold;
    overflow: auto;
    position: -webkit-sticky;
    
}
.cover{
background-color: black;
    color: gold;
}


.carousel{
    margin: o auto;
    text-align: center;
}

.alert-dismissible{
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 56px;
    padding-bottom: 5px;
    left: 0px;
}

.home{
    padding-top: 20px;
}

.black-gold{
    background-color: black !important;
    color: gold !important;
}


#map {
    height: 600px;
    width: 100%;
}

.bottom{
    padding-bottom: 30px !important;

}
